<!DOCTYPE html>
<html lang="en">

    <head>
         <!------------ Title of the website ------------> 
         <title> {{page.title}} </title>

         <!------------ This I don't know what it is.. ------------> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!------------ Viewport meta for responsive ------------> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!------------ Gridlex for our flexbox grids ------------> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"> 

        <!------------ This is our custom stylesheet ------------> 
        <link rel="stylesheet" type="text/css" href="/style.css" />

    </head>

    <body>
        <header> 
            <h1> Welcome to Pabben </h1>
            <nav>
                <a href="/index.html"> Home </a>
                <a href="/about.html"> About </a>
                <a href="/cards.html"> Cards </a>
            </nav>
        </header>

        {{content}}

        <footer> 
            <h2> This is a footer </h2> 
        </footer>

    </body>
</html>